[Unit]
Description=HTMAO headline sentiment analiser
After=graphical.target

# make sure the Sevice header gets adjusted for the computer HTMAO is installed on!
[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/lifthoofd/.Xauthority"
WorkingDirectory=/home/lifthoofd/projects/htmao
ExecStart=/usr/bin/gnome-terminal --geometry=1280x1024+1920+0 --full-screen --hide-menubar -- /usr/bin/python3 /home/lifthoofd/projects/htmao/htmao_headlinalyser/main.py
Restart=always
RestartSec=60

[Install]
WantedBy=graphical.target

