[Unit]
Description=HTMAO video player
After=graphical.target

# make sure the Sevice header gets adjusted for the computer HTMAO is installed on!
[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/lifthoofd/.Xauthority"
WorkingDirectory=/home/lifthoofd/projects/htmao
ExecStart=/opt/processing-3.4/processing-java --sketch=/home/lifthoofd/projects/htmao/htmao_video_player --run
Restart=always
RestartSec=60
User=lifthoofd

[Install]
WantedBy=graphical.target
